{% extends 'base.html.twig' %}

{% block content %}


    <!-- banner -->
    <div class="container-fluid col-md-12 col-sm-12 col-lg-12">
        <div class="row align-items-center">
            <div class="bg-image-banner col-lg-12 col-md-12 col-sm-10">
                <div class="box-text-banner align-items-center  text-left mb-5">
                    <div class="text-white">
                        <div>
                            <h3 class=" slogan reveal-2 col-sm-8 col-md-12 col-lg-12">FRAIS,<br>
                                CONFORTABLE<br>
                                & DURABLE
                            </h3>
                        </div>
                        <div class="texte-banner col-md-4 col-lg-4 ">
                            <p class="reveal-2">
                                Quoi de mieux que d'enfiler un pyjama confortable pour rejoindre son lit douillet ?
                                Frais, léger, agréable à porter, découvrez nos pyjamas en coton écologique.

                            </p>
                        </div>
                        <div class="col-md-4 col-sm-4 texte-banner">
                            <p class="reveal-2">
                                Vos Tinies vont l'adorer !
                            </p>
                            <button type="button" class="btn btn-info reveal-3 button-discover">DÉCOUVREZ NOS PRODUITS
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="background-grey"></div>



    <!-- Nouveautes -->

    <div class="container">
        <h2 class="separator text-center justify-content-center mb-5">NOS NOUVEAUTÉS</h2>
        <p class="text-separator">Julien réussissait peu dans ses essais d’hypocrisie de gestes ; il tomba dans des
            moments de dégoût et même de découragement complet. Il n’avait pas de succès, et encore dans une vilaine
            carrière. </p>
    </div>
    <div class="box-carousel mb-5">
        <div class="owl-carousel" id="nouveautes">

            {% for product in productN %}
                {% if product.isNew == true %}
                    <div class="item ">
                        <div class="card mb-2">

                            <a href="{{ path('product', {'slug':product.slug}) }}">

                                <img src="{{ vich_uploader_asset(product, 'topImageFile') | imagine_filter('bn') }}"
                                     alt="{{ product.name }}" class="card-img-top img-fluid">

                            </a>

                            <div class="card-body">
                                {# CHANGER LA CLASSE DU ICON-WRAPPER POUR POSITION CONVIENT DANS SHOW<div>
                                    <a href="{{ path('products-wish', {'id': product.id}) }}"
                                       class="js-wish">
                                        {% if app.user and product.isWishByUser(app.user) %}



                                            <div class="icon-wrapper liked">
                                                <i class="far fa-heart "></i>
                                            </div>

                                        {% else %}


                                            <div class="icon-wrapper unliked">
                                                <i class="far fa-heart"></i>
                                            </div>

                                        {% endif %}

                                    </a>
                                </div> #}
                                <div class="descriptionBest">
                                    <div class="product-line-green">
                                        <p class="product-text card-title">
                                            <span>{{ product.name }}</span></p>
                                        <p class="product-description card-text"><span
                                                    class="product-subtitle"> {{ product.subtitle }} </span>
                                        </p>


                                        <p class="product-price-text card-text"><span
                                                    class="product-price "> {{ (product.price / 100)|number_format(2,',', '.') }} € </span>
                                            <button type="button" class="container-fluid profite">JE LE
                                                VEUX
                                            </button>
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>



    <!--deuxième vie / devenu OUR FIRST !!!!-->


    <div class="container-fluid box  pt-5 m-auto mx-sm-auto justify-content-around">
        <div class="row">
            <div class="col-md-6  col-sm-12 col-lg-6 justify-content-center">
                <img src="{{ asset('assets/img/OURFIRST.webp') }}" class="ourFirstImg " alt=""/>
            </div>
            <div class="boxtext col-md-6 col-sm-12 col-lg-6 text-sm-center text-md-center">
                <h3 class="title-box reveal-2"><span>OUR FIRST</span></h3>
                <p><span class="reveal-1">Our First, c’est une collection inspirée de notre enfance. Elle se compose d’un joli mélange de basiques intemporels
                        et de pièces délicates pensées en détail pour vos minis. Les coupes unisexes et les tons doux y sont mis à l’honneur.
                        Parce que nous voulons toujours offrir
                        ce qu’il y a de mieux, nos articles sont confectionnés avec des matières naturelles certifiées BIO ou OEKO-TEX.
                        </span></p>
                <a href="{{ relative_path('/Mode') }}">
                    <button type="button" class="btn profite reveal-2">JE DÉCOUVRE</button>
                </a>
            </div>

        </div>
    </div>
    <div class="background-grey"></div>


    <div class="slide-collection mt-5 mt-sm-5 mt-md-5">
        <div class="owl-carousel" id="collection">
            <div class="item ">
                <img src="{{ asset('assets/img/SLIDE/bebe-avec-nounours.webp') }}">
            </div>
            <div class="item ">
                <img src="{{ asset('assets/img/SLIDE/bebe-devant-cheminee.webp') }}">
            </div>
            <div class="item ">
                <img src="{{ asset('assets/img/SLIDE/Body Sethi Kaki - Issa 5.webp') }}">
            </div>
            <div class="item ">
                <img src="{{ asset('assets/img/SLIDE/JULES.webp') }}">
            </div>
            <div class="item ">
                <img src="{{ asset('assets/img/SLIDE/Pull Octave + Legging Aris Gris - Maya 2.webp') }}">
            </div>
        </div>
    </div>
    <!-- BESTSELLERS -->
    <div class="container-fluid  bestsellers">
        <h2 class="separator text-center mb-5">COLLECTION AUTOMNE</h2>
        <p class="text-separator">Julien réussissait peu dans ses essais d’hypocrisie de gestes ; il tomba dans des
            moments de dégoût et même de découragement complet. Il n’avait pas de succès, et encore dans une vilaine
            carrière. </p>
    </div>
    <div class="background-grey"></div>

    <div class="box-carousel justify-content-center mb-5">
        <div class="owl-carousel" id="automne">

            {% for product in productN %}
                {% if product.isNew == true %}
                    <div class="item ">
                        <div class="card mb-2">
                            <a href="{{ path('product', {'slug':product.slug}) }}">

                                <img src="{{ vich_uploader_asset(product, 'topImageFile') | imagine_filter('bn') }}"
                                     alt="{{ product.name }}" class="card-img-top img-fluid">

                            </a>

                            <div class="card-body">
                                {# CHANGER LA CLASSE DU ICON-WRAPPER POUR POSITION CONVIENT DANS SHOW<div>
                                    <a href="{{ path('products-wish', {'id': product.id}) }}"
                                       class="js-wish">
                                        {% if app.user and product.isWishByUser(app.user) %}



                                            <div class="icon-wrapper liked">
                                                <i class="far fa-heart "></i>
                                            </div>

                                        {% else %}


                                            <div class="icon-wrapper unliked">
                                                <i class="far fa-heart"></i>
                                            </div>

                                        {% endif %}

                                    </a>
                                </div> #}
                                <div class="descriptionBest">
                                    <div class="product-line-green">
                                        <p class="product-text card-title">
                                            <span>{{ product.name }}</span></p>
                                        <p class="product-description card-text"><span
                                                    class="product-subtitle"> {{ product.subtitle }} </span>
                                        </p>


                                        <p class="product-price-text card-text"><span
                                                    class="product-price "> {{ (product.price / 100)|number_format(2,',', '.') }} € </span>
                                            <button type="button" class="container-fluid profite">JE LE
                                                VEUX
                                            </button>
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="background-grey"></div>
    <div class="container-fluid ">

        <div class="newsletter  col-12 text-lg-center text-md-center text-sm-left mt-3">
            <div class="news_text mx-sm-auto">
                <h2 class="reveal-2">
                    S'INSCRIRE À LA NEWSLETTER
                </h2>
                <p class="reveal-3">One morning, when Gregor Samsa woke from troubled dreams, he found himself
                    transformed in his bed
                    into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he
                    could see his brown belly, slightly domed and divided by arches into stiff sections.</p>
                <a href="{{ relative_path('/Mode') }}">
                    <button type="button" class="btn profite reveal-3 mt-4 mb-3 ">C'EST PAR ICI</button>
                </a>
            </div>

        </div>

    </div>




    <!-- Indispensables -->

    <div class="container">
        <h2 class="separator text-center mb-5">NOS INDISPENSABLES</h2>
        <p class="text-separator">Julien réussissait peu dans ses essais d’hypocrisie de gestes ; il tomba dans des
            moments de dégoût et même de découragement complet. Il n’avait pas de succès, et encore dans une vilaine
            carrière. </p>
    </div>

    <div class="box-carousel justify-content-center mb-5">
        <div class="owl-carousel" id="indispensables">

            {% for product in productN %}
                {% if product.isNew == true %}
                    <div class="item ">
                        <div class="card mb-2">
                            <a href="{{ path('product', {'slug':product.slug}) }}">

                                <img src="{{ vich_uploader_asset(product, 'topImageFile') | imagine_filter('bn') }}"
                                     alt="{{ product.name }}" class="card-img-top img-fluid">

                            </a>

                            <div class="card-body">
                                {# CHANGER LA CLASSE DU ICON-WRAPPER POUR POSITION CONVIENT DANS SHOW<div>
                                    <a href="{{ path('products-wish', {'id': product.id}) }}"
                                       class="js-wish">
                                        {% if app.user and product.isWishByUser(app.user) %}



                                            <div class="icon-wrapper liked">
                                                <i class="far fa-heart "></i>
                                            </div>

                                        {% else %}


                                            <div class="icon-wrapper unliked">
                                                <i class="far fa-heart"></i>
                                            </div>

                                        {% endif %}

                                    </a>
                                </div> #}
                                <div class="descriptionBest">
                                    <div class="product-line-green">
                                        <p class="product-text card-title">
                                            <span>{{ product.name }}</span></p>
                                        <p class="product-description card-text"><span
                                                    class="product-subtitle"> {{ product.subtitle }} </span>
                                        </p>


                                        <p class="product-price-text card-text"><span
                                                    class="product-price "> {{ (product.price / 100)|number_format(2,',', '.') }} € </span>
                                            <button type="button" class="container-fluid profite">JE LE
                                                VEUX
                                            </button>
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <!--#TINYANDPRETTY-->
    <hr class="share-divider">
    <div class="container-fluid text-center share">
        <div class="col-12">
            <h2 class="separator text-center reveal-1">#TINYANDPRETTY</h2>
            <h5 class="text-share reveal-2">Partagez avec nous leurs styles uniques !</h5>
            <div class="reseau justify-between">
                <a class="logoreseau reveal-3" href="https://www.facebook.com/TinyandPretty.be" target="_blank"><i
                            class="fab fa-facebook-square"></i></a>
                <a class="logoreseau reveal-3" href="https://www.instagram.com/tinyandpretty.be" target="_blank"> <i
                            class="fab fa-instagram"></i></a>
                <a class="logoreseau reveal-3"><i class="fab fa-pinterest-square"></i></a>
            </div>
        </div>
    </div>
{% endblock %}