{% extends 'base.html.twig' %}

{% block content %}
<!--

        <div class="video-home">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/3NMh1VBHL8s?loop=1&playlist=3NMh1VBHL8s"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
<div class="hidden-video">

</div>
-->

<div class="banner">

</div>

    <!-- Categories -->
    <!--
    <div class="container-fluid  category">
        <div class="row">
            <div class="  mt-5 col-xl-4 col-lg-4 col-sm-12 col-md-6">
                <a href="{{ relative_path('/Mode') }}">
                    <img src="{{ asset('assets/img/VETEMENTS.webp') }}" style="width:80%" class="Pict" alt=""/>
                </a>
                <div class="text-white">
                    <div class="filter">
                        <h4 class="description">LA MODE</h4>
                    </div>
                </div>
                -->
                <!--
                <div class="text-white waviy">

                    <span style="--i:1">L</span>
                    <span style="--i:2">A</span>
                    <span style="--i:3"></span>
                    <span style="--i:4">M</span>
                    <span style="--i:5">O</span>
                    <span style="--i:6">D</span>
                    <span style="--i:7">E</span>
                </div>
--><!--
            </div>
            <div class="  mt-5 col-xl-4 col-lg-4 col-sm-12 col-md-6">
                <a href="{{ relative_path('/maison') }}">
                    <img src="{{ asset('assets/img/BAIN.webp') }}" style="width:80%" class="Pict" alt=""/>
                </a>
                <div class="text-white">
                    <div class="filter">
                        <h4 class="description ">À LA MAISON</h4>
                    </div>
                </div>
-->
                <!--    <div class="text-white waviy">

                    <span style="--i:1">À</span>
                    <span style="--i:2"></span>
                    <span style="--i:3">L</span>
                    <span style="--i:4">A</span>
                    <span style="--i:5"></span>
                    <span style="--i:6">M</span>
                    <span style="--i:7">A</span>
                    <span style="--i:8">I</span>
                    <span style="--i:9">S</span>
                    <span style="--i:10">O</span>
                    <span style="--i:11">N</span>

                </div>
                -->
<!--
            </div>
            <div class="  mt-5 col-xl-4 col-lg-4 col-sm-12 col-md-6">
                <a href="{{ relative_path('/toy') }}">
                    <img src="{{ asset('assets/img/JOUETS.webp') }}" style="width:80%" class="Pict" alt=""/>
                </a>
                <div class="text-white">
                    <div class="filter">
                        <h4 class="description ">JOUETS</h4>
                    </div>
                </div>
-->
                <!--        <div class="text-white waviy">

                            <span style="--i:1">J</span>
                            <span style="--i:2">O</span>
                            <span style="--i:3">U</span>
                            <span style="--i:4">E</span>
                            <span style="--i:5">T</span>
                            <span style="--i:6">S</span>
                        </div>
                -->
    <!--
              </div>

          </div>

      </div>
  -->
      <!-- banner -->
    <div class="container-fluid col-12">
        <div class="row align-items-center">
            <div class="bg-image-banner reveal-1">
                <div class="container-fluid align-items-center  text-left mb-5">
                    <div class="text-white ">
                        <div class="col-12">
                        <h1 class="  slogan reveal-2">FRAIS,<br>
                            CONFORTABLE<br>
                            & DURABLE
                        </h1>
                        </div>
                        <div class="col-4 texte-banner">
                        <p  class="reveal-2">
                            Quoi de mieux que d'enfiler un pyjama confortable pour rejoindre son lit douillet ?
                            Frais, léger agréable à porter, découvrez nos pyjamas en coton écologique.

                        </p>
                        </div>
                            <div class="col-4 texte-banner">
                        <p  class="reveal-2">
                            Vos Tinies vont l'adorer !
                        </p>
                                <button type="button" class="btn btn-info reveal-2 button-discover">DÉCOUVREZ NOS PRODUITS</button>
                            </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid presentation-short">
        <div class="h-100 row align-items-center">
            <div class=" col ">
                <figure>
                    <blockquote>
                        <p class="text-presentation-short reveal-1">
                            <span><em class="tiny-emphasis">Tiny and Pretty</em></span> est née d’une initiative de son
                            fondateur, récemment devenu papa.
                            Initialement actif dans le secteur du commerce international, il a eu à cœur de créer une
                            marque responsable qui soutient l’économie locale et qui contribue à un système de
                            consommation durable.

                        </p>


                        <button type="button" class="btn btn-info button-flow reveal-2">En savoir plus ...</button>

                    </blockquote>

                </figure>
            </div>
        </div>

    </div>

    <!-- Nouveautes -->

    <div class="container">
        <h3 class="separator text-center">NOUVEAUTÉS</h3>
    </div>

    <div class="container-fluid bestproducts">
        <div class="row">
            {% for product in productN %}
                {% if product.isNew == true %}
                    <div class="col col-sm-6 col-md-6 col-lg col-xl col-xxl">
                        <div>
                            {% if is_granted('ROLE_USER') %}
                                {% set isFavorite = false %}
                                {% for favoris in product.favoris %}

                                    {% if favoris.id == app.user.id %}
                                        {% set isFavorite = true %}
                                    {% endif %}
                                {% endfor %}

                                {% if isFavorite %}

                                    <a href="{{ path('retrait_favoris', {id: product.id}) }}"> <img class="icone-wish"
                                                                                                    src="{{ asset('assets/img/heart.svg') }}"></a>

                                {% else %}

                                    <a href="{{ path('ajout_favoris', {id: product.id}) }}"> <img class="icone-wish"
                                                                                                  src="{{ asset('assets/img/heart.svg') }}"></a>


                                {% endif %}

                            {% else %}
                                <img class="icone-wish" src="{{ asset('assets/img/heart.svg') }}">
                            {% endif %}
                        </div>
                        <button type="button" class="profite">JE LE VEUX</button>
                        {% include 'product/single_product.html.twig' %}
                    </div>

                {% endif %}
            {% endfor %}
        </div>
    </div>

    <!--deuxième vie / devenu OUR FIRST !!!!-->


    <div class="bg-image-deuxieme">
        <div class="container-fluid box">

            <div class="boxtext">
                <h5 class="title-box reveal-2"><span>OUR FIRST</span></h5>
                <p><span class="reveal-1">Our First, c’est une collection inspirée de notre enfance. Elle se compose d’un joli mélange de basiques intemporels
                        et de pièces délicates pensées en détail pour vos minis. Les coupes unisexes et les tons doux y sont mis à l’honneur.
                        Parce que nous voulons toujours offrir
                        ce qu’il y a de mieux, nos articles sont confectionnés avec des matières naturelles certifiées BIO ou OEKO-TEX.
                        </span></p>
                <a href="{{ relative_path('/Mode') }}">
                    <button type="button" class="profite reveal-2">J'EN PROFITE</button>
                </a>
            </div>


        </div>

    </div>



    <!-- BESTSELLERS -->
    <div class="container-fluid  bestsellers">
        <h3 class="separator text-center">BESTSELLERS</h3>

    </div>

    <div class="container-fluid  bestproducts">
        <div class="row">
            {% for product in productN %}
                {% if product.isBest == true %}
                    <div class="col col-sm-6 col-md-6 col-lg col-xl col-xxl">
                        {% include 'product/single_product.html.twig' %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>


    <!-- LE BLOG
    <hr class="blog-divider">
    <div class="container blog">
        <h3 class="separator text-center">THE TINY & PRETTY BLOG</h3>
        <div class="button-blog text-center">
            <a>
                <button type="button" class="btn-blog">TOUT VOIR</button>
            </a>
        </div>
    </div>
    <div class="container-fluid text-center imgblog">
        <div class="row">
            <div class="col-4">
                <img src="{{ asset('assets/img/cremesolaire.webp') }}" style="width:90%" class="" alt=""/>
                <div class="category-blog">
                    <p><span>Lifestyle · Santé ·</span></p>
                </div>
                <div class="title-blog">
                    <p><span>Crème solaire : laquelle choisir ?</span></p>
                </div>
            </div>
            <div class="col-4">
                <img src="{{ asset('assets/img/coupdesoleil.webp') }}" style="width:90%" class="" alt=""/>
                <div class="category-blog">
                    <p><span>Lifestyle · Santé ·</span></p>
                </div>
                <div class="title-blog">
                    <p><span>Les 8 règles d’or pour exposer bébé au soleil.</span></p>
                </div>
            </div>
            <div class="col-4">
                <img src="{{ asset('assets/img/moustique.webp') }}" style="width:90%" class="" alt=""/>
                <div class="category-blog">
                    <p><span>Lifestyle · Santé ·</span></p>
                </div>
                <div class="title-blog">
                    <p><span>Protéger bébé des moustiques : tout ce qu’il faut savoir !</span></p>
                </div>
            </div>
        </div>
    </div>
    -->
    <!--#TINYANDPRETTY-->
    <hr class="share-divider">
    <div class="container-fluid text-center share">
        <div class="col-12">
            <h3 class="separator text-center reveal-1">#TINYANDPRETTY</h3>
            <h5 class="text-share reveal-2">Partagez avec nous leurs styles uniques !</h5>
            <div class="reseau justify-between">
                <a class="logoreseau reveal-3" href="https://www.facebook.com/TinyandPretty.be" target="_blank"><i
                            class="fab fa-facebook-square"></i></a>
                <a class="logoreseau reveal-3" href="https://www.instagram.com/tinyandpretty.be" target="_blank"> <i
                            class="fab fa-instagram"></i></a>
                <a class="logoreseau reveal-3"><i class="fab fa-pinterest-square"></i></a>
            </div>
        </div>
    </div>
{% endblock %}
