{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block content %}
    <div class="container-fluid justify-content-center">
        <div class="row">
            <div class="col-md-5 ml-auto mr-auto">
                <div class="title_sign">
                    <h1 class="mb-3 mt-5">CONTACTEZ-NOUS</h1>
                </div>
    {{ form_start(form) }}
    {{ form_label(form.name) }}
    {{ form_widget(form.name) }}

    {{ form_label(form.firstname) }}
    {{ form_widget(form.firstname) }}
    {{ form_label(form.mail) }}
    {{ form_widget(form.mail) }}
    {{ form_rest(form) }}
                <button class="btn text-white connect mt-3 pt-3 mb-5" type="submit">
                    Envoyer
                </button>
    {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
