{% extends 'base.html.twig' %}

{% block title %}Tiny and Pretty - Tous nos produits{% endblock %}

{% block content %}
    <div class="container-fluid mt-5">
        <div class="row">

            {% for  product in products %}
                <div class="item col">
                    <div class="card mb-2">
                        <a class="link-product" href="{{ path('product', {'slug':product.slug}) }}">

                            <img src="{{ vich_uploader_asset(product, 'topImageFile') | imagine_filter('bn') }}"
                                 alt="{{ product.name }}" class="card-img-top img-fluid">



                        <div class="card-body">

                            <div class="descriptionBest">
                                <div class="product-line-green">
                                    <p class="product-text card-title">
                                        <span>{{ product.name }}</span></p>
                                    <p class="product-description card-text"><span
                                                class="product-subtitle"> {{ product.subtitle }} </span>
                                    </p>


                                    <p class="product-price-text card-text"><span
                                                class="product-price "> {{ (product.price / 100)|number_format(2,',', '.') }} € </span>
                                        <button type="button" class="container-fluid profite-btn">JE LE
                                            VEUX
                                        </button>
                                    </p>
                                </div>

                            </div>
                        </div>
                        </a>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
{% endblock %}
