{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}

    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-4 col-sm-12 mt-5">
                <img src="{{ vich_uploader_asset(product, 'topImageFile') | imagine_filter('show') }}"
                     alt="{{ product.name }}" class="img-fluid zoomimg mt-5 ">

            </div>


            <div class="col-md-6 col-sm-12 my-auto aside-description ml-auto mr-auto">
                <div class="col">
                <p> {{ product.subtitle }}</p>
                <h3>{{ product.name }}</h3>
                <span class="product-page-price"> {{ (product.price / 100)|number_format(2,',', '.') }} € </span>
                <p class="taxes">Taxes incluses</p>
                <p class="description-show overflow-auto">
                    {{ product.description }}
                </p>
                </div>
                <div class="col mb-5">
                    <!--  <div class="wish-heart col mb-5">-->

                    <a href="{{ path('products-wish', {'id': product.id}) }}" class="js-wish">
                        {% if app.user and product.isWishByUser(app.user) %}
                            <!--ESSAI A GARDER
                                                    <div class="love-icon">
                                                        <input type="checkbox" id="like-toggle">
                                                        <label for="like-toggle" class="heart"> </label>
                                                        <div class="lines">
                                                            <div class="line"></div>
                                                            <div class="line"></div>
                                                            <div class="line"></div>
                                                            <div class="line"></div>
                                                            <div class="line"></div>
                                                            <div class="line"></div>
                                                        </div>
                                                        <div class="ring"></div>
                                                    </div>
                                                    -->



                            <div class="icon-wrapper liked">
                                <i class="fas fa-heart "></i>
                            </div>



                            <!--  essai coeur 2-->
                            <!--
                            <input id="toggle-heart" type="checkbox"/>
                            <label for="toggle-heart" aria-label="like">❤</label>
    -->
                            <!--coeur test 1
                            <div class="placement">
                                <div class="heart"></div>
                            </div>
                            -->
                            <!--
                        <div class="heart-wish">
                            <img src="{{ asset('assets/img/like.svg') }}" alt="" class="">
                        </div>
                        -->

                        {% else %}
                            <!--
                            <div class="love-icon">
                                <input type="checkbox" id="like-toggle" />
                                <label for="like-toggle" class="heart"> </label>
                                <div class="lines">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </div>
                                <div class="ring"></div>
                            </div>
                            -->


                            <div class="icon-wrapper unliked">
                                <i class="far fa-heart"></i>
                            </div>


                            <!--    essai coeur 2 -->
                            <!--
                          <input id="toggle-heart" type="checkbox"/>
                          <label for="toggle-heart" aria-label="like">❤</label>
    -->
                            <!-- coeur test 1
                                                  <div class="placement">
                                                      <div class="heart"></div>
                                                  </div>
                                                  -->
                            <!--   <div class="heart-bold">
                            <img src="{{ asset('assets/img/heart.svg') }}" alt="" class="">

                        </div>
                        -->


                        {% endif %}

                    </a>
                </div>

                <div>
                    {{ form_start(product) }}
                    {% for size in product.sizes %}
                        {{ form(size.name) }}
                    {% endfor %}
                    {{ form_end(SelectForm) }}
                </div>

                <hr class="col">


                {% if product.soldout == false %}
                    <button
                            class="btn btn-outline-secondary outline-show col mt-3 ml-1 mr-1"
                            type="button">
                        <a href="{{ path('add_to_cart', {'id': product.id}) }}" style="color:#000005;">
                            <div>AJOUTER AU PANIER</div>
                        </a>
                    </button>
                {% else %}
                    <button class="btn btn-outline-secondary outline-show col mt-3 ml-1 mr-1"
                            style="background-color:#f0cabd;">VICTIME DE SON SUCCÈS
                    </button>
                {% endif %}
                <div id="accordion">
                    <button
                            class="btn btn-outline-secondary outline-show col mt-3 ml-1 mr-1"
                            type="button" data-toggle="collapse"
                            data-target="#collapseOne"
                            aria-expanded="false"
                            aria-controls="collapseOne"
                            style="color:#000005;">
                        GUIDE DES TAILLES
                    </button>
                    <div id="collapseOne" class="collapse">
                        <table class="table table-bordered table-hover col-md-10 col-lg-10 col-xl-10 col-sm-12 mx-3 my-3">
                            <thead>
                            <tr>
                                <th scope="col">BÉBÉ</th>
                                <th scope="col">Taille</th>
                                <th scope="col">Poids</th>
                            </tr>
                            </thead>
                            <tr>
                                <th scope="row">3 MOIS</th>
                                <td>56-60 cm</td>
                                <td>4-5 kg</td>
                            </tr>
                            <tr>
                                <th scope="row">6 MOIS</th>
                                <td>60-68 cm</td>
                                <td>5-6 kg</td>
                            </tr>
                            <tr>
                                <th scope="row">9 MOIS</th>
                                <td>68-74 cm</td>
                                <td>7-8 kg</td>
                            </tr>
                            <tr>
                                <th scope="row">12 MOIS</th>
                                <td>74 cm</td>
                                <td>9-10 kg</td>
                            </tr>
                            <tr>
                                <th scope="row">18 MOIS</th>
                                <td>80 cm</td>
                                <td>10-11 kg</td>
                            </tr>
                            <tr>
                                <th scope="row">24 MOIS</th>
                                <td>86 cm</td>
                                <td>11-12 kg</td>
                            </tr>
                        </table>
                        <table class="table table-bordered table-hover col-md-10 col-lg-10 col-xl-10 col-sm-12 mx-3 my-3">
                            <thead>
                            <tr>
                                <th scope="col">ENFANT</th>
                                <th scope="col">Taille</th>
                                <th scope="col">Tour de poitrine</th>
                                <th scope="col">Tour de taille</th>
                                <th scope="col">Tour de hanche</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">3 ANS</th>
                                <td>98 cm</td>
                                <td>57 cm</td>
                                <td>53 cm</td>
                                <td>59 cm</td>
                            </tr>
                            <tr>
                                <th scope="row">4 ANS</th>
                                <td>104 cm</td>
                                <td>58 cm</td>
                                <td>54 cm</td>
                                <td>61 cm</td>
                            </tr>
                            <tr>
                                <th scope="row">5 ANS</th>
                                <td>110 cm</td>
                                <td>59 cm</td>
                                <td>54,5 cm</td>
                                <td>62,5 cm</td>
                            </tr>
                            <tr>
                                <th scope="row">6 ANS</th>
                                <td>116 cm</td>
                                <td>60 cm</td>
                                <td>55 cm</td>
                                <td>64 cm</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <h3 class="separator text-center mb-5 mt-5">MIX & MATCH</h3>
    </div>
    <div class="box-carousel">
        <div class="owl-carousel" id="nouveautes">

            {% for product in productN %}
                {% if product.isNew == true %}
                    <div class="item ">
                        <div class="card mb-2">
                            <a href="{{ path('product', {'slug':product.slug}) }}">

                                <img src="{{ vich_uploader_asset(product, 'topImageFile') | imagine_filter('bn') }}"
                                     alt="{{ product.name }}" class="card-img-top img-fluid">

                            </a>

                            <div class="card-body">
                                {# CHANGER LA CLASSE DU ICON-WRAPPER POUR POSITION CONVIENT DANS SHOW<div>
                                    <a href="{{ path('products-wish', {'id': product.id}) }}"
                                       class="js-wish">
                                        {% if app.user and product.isWishByUser(app.user) %}



                                            <div class="icon-wrapper liked">
                                                <i class="far fa-heart "></i>
                                            </div>

                                        {% else %}


                                            <div class="icon-wrapper unliked">
                                                <i class="far fa-heart"></i>
                                            </div>

                                        {% endif %}

                                    </a>
                                </div> #}
                                <div class="descriptionBest">
                                    <div class="product-line-green">
                                        <p class="product-text card-title">
                                            <span>{{ product.name }}</span></p>
                                        <p class="product-description card-text"><span
                                                    class="product-subtitle"> {{ product.subtitle }} </span>
                                        </p>


                                        <p class="product-price-text card-text"><span
                                                    class="product-price "> {{ (product.price / 100)|number_format(2,',', '.') }} € </span>
                                            <button type="button" class="container-fluid profite">JE LE
                                                VEUX
                                            </button>
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    </div>
{% endblock %}
