<div class="product-item text-center">
    <div class="show-btn-cart">

    <a href="{{ path('product', {'slug':product.slug}) }}">
        <img src="/uploads/{{ product.illustration }}" alt="{{ product.name }}" class="img-fluid">
    </a>
    </div>

    <div class="descriptionBest">
        <p class="product-text"><span>{{ product.name }}</span></p>
        <p class="product-text"><span class="product-subtitle"> {{ product.subtitle }} </span></p>


        <p class="product-price-text"><span class="product-price"> {{ (product.price / 100)|number_format(2,',', '.') }} € </span></p>

    </div>
</div>
