{% extends 'base.html.twig' %}

{% block title %}Nos ateliers{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col mt-5 mb-5 bg-champ">


                <img class="champ-desktop" src="{{ asset('assets/img/champ-banniere.webp') }}" alt=""/>
                <img class="champ-mobile" src="{{ asset('assets/img/champMobile.webp') }}" alt=""/>

                <div class="filter">
                </div>
                <div class="filter_text">
                    <h3 class="title-bg-champ"> NOS ATELIERS</h3>
                    <p class="text-bg-champ"> Tiny & Pretty c’est avant tout une grande famille, qui place l’humain au
                        centre de ses choix. Chaque
                        jour, nous nous remuons les méninges pour vous proposer de jolies pièces fabriquées
                        artisanalement et
                        signées Tiny & Pretty. Il nous tient donc à cœur de partager avec vous les histoires de celles
                        et ceux
                        qui, avec leurs doigts de fées, confectionnent nos produits.
                    </p>
                </div>

            </div>
        </div>
    </div>

    <div class="container-fluid text-center pb-5 ml-5">
        <div class="row">
            <div class="col-6"><a href="{{ path('atelier_debora') }}">
                    <img src="{{ asset('assets/img/debora.webp') }}" class="img_atelier"
                         alt="atelier couture enfant debora partenaire"/>
                    <div class="title_atelier text-center mt-5">
                        <h3>L’ATELIER DE DÉBORA</h3>
                    </div>
                    <div class="description_atelier text-left mt-5 ml-5 mr-5">
                        <p>C’est au fil de plusieurs recherches que T&P a su trouver les mains de fée qui l’aideront à
                            grandir. Notre projet est devenu commun, comme si d’une rencontre professionnelle, nous
                            devenions une famille, passionnée et animée par la même volonté de mieux faire.

                        </p>

                    </div>
                </a>
            </div>
            <div class="col-6">
                <div class="coming_soon_box">
                    <img src="{{ asset('assets/img/calcetines.webp') }}" class="img_atelier"
                         alt="atelier couture enfant  partenaire "/>
                    <div class="coming_soon_text">
                        <div class="text_soon">
                            <h4>WE NEED YOU</h4>
                            <h6>COMING SOON</h6>

                        </div>
                    </div>
                </div>


                <div class="title_atelier text-center mt-5">
                    <h3>VOUS AVEZ DU TALENT</h3>
                </div>
                <div class="description_atelier text-left mt-5 ml-5 mr-5">
                    <p>Nous sommes constamment à la recherche d'artisans passionnés et d'amoureux du textile. Si vous
                        aussi, vous souhaitez contribuer à l'aventure Tiny & Pretty, contactez-nous ! Nous nous ferons
                        un plaisir de vous rencontrer.
                    </p>
                    <button class="btn-blog join mx-auto"><span>REJOIGNEZ L'AVENTURE</span></button>

                </div>
            </div>
            <div class="container-fluid text-center share">
                <div class="col-12">
                    <h2 class="separator text-center reveal-1">#TINYANDPRETTY ♡</h2>
                    <h5 class="text-share reveal-2">Partagez avec nous leurs styles uniques !</h5>
                    <div class="reseau justify-between">
                        <a class="logoreseau reveal-3" href="https://www.facebook.com/TinyandPretty.be" target="_blank"><i
                                    class="fab fa-facebook-square"></i></a>
                        <a class="logoreseau reveal-3" href="https://www.instagram.com/tinyandpretty.be"
                           target="_blank"> <i
                                    class="fab fa-instagram"></i></a>
                        <a class="logoreseau reveal-3"><i class="fab fa-pinterest-square"></i></a>
                    </div>
                </div>
                <div class="row">
                    <div class="insta col-12">
                        <div
                                loading="lazy"
                                data-mc-src="a8f2c962-ea44-4efb-b02e-f48c1e018f0d#instagram"></div>

                        <script
                                src="https://cdn2.woxo.tech/a.js#616943ba77be7d0016763c85"
                                async data-usrc>
                        </script>

                    </div>
                    {# <script src="https://assets.juicer.io/embed.js" type="text/javascript"></script> #}
                    {# <link href="https://assets.juicer.io/embed.css" media="all" rel="stylesheet" type="text/css" /> #}
                    {# <ul class="juicer-feed" data-feed-id="tinyandpretty-be"></ul> #}
                </div>
            </div>
            <!--
            <div class="col-4">
                <img src="{{ asset('assets/img/lisa.webp') }}" style="width:80%" class=""
                     alt="atelier couture enfant lisa partenaire "/>
                <div class="title_atelier text-center mt-5">
                    <h4>LISA ET LES PELOTES DE LAINE</h4>
                </div>
                <div class="description_atelier text-left mt-5 ml-5 mr-5">
                    Il est conçu et fabriqué à Barcelone, et est
                    réputé pour sa qualité et le savoir-faire de nombreux
                    années d'expérience. Cóndor est authentique, responsable et
                    fiable. Des designs exclusifs, des lignes simples, avec
                    personnage présenté dans un kaléidoscope de couleurs.
                    Tailles disponibles pour les nouveau-nés jusqu'à 14 ans.

                </div>
            </div>
            <div class="col-4">
                <div class="coming_soon_box">
                    <img src="{{ asset('assets/img/calcetines.webp') }}" style="width:80%" class=""
                         alt="atelier couture enfant calcetines partenaire "/>
                    <div class="coming_soon_text">
                        <div class="text_soon">
                            <h2>COMING SOON</h2>

                        </div>
                    </div>
                </div>


                <div class="title_atelier text-center mt-5">
                    <h4>LOS CALCETINES</h4>
                </div>
                <div class="description_atelier text-left mt-5 ml-5 mr-5">
                    It is designed and manufactured in Barcelona, and is
                    renowned for its quality and know-how from many
                    years’ experience. Cóndor is genuine, responsible and
                    trustworthy. Exclusive designs, simple lines, with
                    character presented in a kaleidoscope of colours.
                    Available sizes for newborns up to 14-year-olds
                </div>
            </div>
            -->
        </div>
    </div>



{% endblock %}
