<header class="main-header" role="banner">

    <div class="header-container">
        <div class="defile-banner">
            <div class="promo-banner text-center">LIVRAISON OFFERTE DURANT TOUT LE MOIS D'OCTOBRE
                <span><img
                            src="{{ asset('assets/img/feuilles-darbres-dautomne.png') }}" alt="Logo Tiny And Pretty"
                            class="favicon-banner"/></span><span><img
                            src="{{ asset('assets/favicon/favicon-32x32.png') }}" alt="Logo Tiny And Pretty"
                            class="favicon-banner"/></span>

            </div>

        </div>


        <!-- navigation supérieure -->

        <nav class="navbar navbar-expand-md  navbar-light justify-content-between navSup">
            <a class="navbar-brand" href="{{ path('home') }}">
                <img src="{{ asset('assets/img/Tiny x Pretty - OFFICIAL LOGO .webp') }}" alt="Logo Tiny And Pretty"
                     class="logo-img-header-One img-fluid"/>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav  ml-auto ms-auto mr-auto mx-auto">
                    <li class="nav-item">
                        <a class="nav-link shop mr-3" href="{{ path("home") }}">E-SHOP</a>
                    </li>
                    <li class="nav-item">
                        <a id="js-brandPage" class="nav-link  linkHeadOne mr-3" href="{{ path('qui_sommes_nous') }}">LA MARQUE</a>
                    </li>
                  {#  <li class="nav-item">
                    <form id="search-formJS" class="form-inline d-flex justify-content-center md-form form-sm">

                        {{ render(controller(
                            'App\\Controller\\SearchController::SearchBar'
                        )) }}
#}{#                        <button type="submit" ><i class="fas fa-search" aria-hidden="true"></i></button>#}{#

                    </form>
                    </li>#}
{#                    <button type="submit"><i class="fas fa-search" aria-hidden="true"></i></button>#}
                </ul>


               {# <form id="search-formJS" class="form-inline d-flex justify-content-center md-form form-sm">
                    <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Recherche"
                           aria-label="Search">
                    <i class="fas fa-search" aria-hidden="true"></i>
                </form>#}


            </div>
        </nav>
    </div>


    <!-- partie dropdown navbar fixed top -->
    <div id="home-banner" class="hideHeaderJS">

        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="{{ path('home') }}">
                <img src="{{ asset('assets/img/Tiny x Pretty - OFFICIAL LOGO .webp') }}" alt="Logo Tiny And Pretty"
                     class="logo-img-header img-fluid" id="logo-show"/>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-down ">
                    <li class="nav-item dropdown">
                        <a class="nav-link inactive dropdown nav-down-text" href="" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Bébés (0 à 36 mois)
                        </a>


                        <div class="dropdown-menu text-left" aria-labelledby="navbarDropdown" data-boundary="overflow">
                            <!--   <a href="{{ relative_path('/baby') }}"><h5
                                        class="text-center mt-5 mb-5 title_drop reveal-1">VÊTEMENTS</h5>
                            </a>
                            -->
                            <div class="d-flex  flex-row p-2">

                                <img src="{{ asset('assets/img/VETEMENTS.webp') }}" alt=""
                                     class="vignette-dropdown img-fluid"/>
                                <div class="p-2 bd-highlight ml-5 col">

                                    <h5 class="categories-nav text-center">VÊTEMENTS</h5>


                                    <a class="dropdown-item" href="{{ relative_path('/baby?baby=hauts') }}">Hauts</a>
                                    <a class="dropdown-item" href="{{ relative_path('/baby?baby=bas') }}">Bas</a>
                                    <a class="dropdown-item" href="{{ relative_path('/baby?baby=robe') }}">Robe</a>
                                    <a class="dropdown-item" href="{{ relative_path('/baby?baby=combinaison') }}">Combinaisons </a>
                                    <a class="dropdown-item" href="{{ relative_path('/baby?baby=Bodies') }}">Bodies</a>
                                    <a class="dropdown-item" href="{{ relative_path('/baby?baby=pyjama') }}">Pyjamas</a>
                                </div>
                                <img src="{{ asset('assets/img/ACCESSOIRES.webp') }}" alt=""
                                     class="vignette-dropdown img-fluid"/>
                                <div class="p-2 bd-highlight ml-5 col">

                                    <h5 class="categories-nav text-center">ACCESSOIRES</h5>

                                    <a class="dropdown-item"
                                       href="{{ relative_path('/baby?baby=chapeaux') }}">Chapeaux</a>
                                    <a class="dropdown-item"
                                       href="{{ relative_path('/baby?baby=bonnets') }}">Bonnets</a>
                                    <a class="dropdown-item"
                                       href="{{ relative_path('/baby?baby=bandeaux') }}">Bandeaux</a>
                                </div>


                            </div>
                        </div>


                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link inactive dropdown px-2 nav-down-text" href="" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Enfants (2 à 8 ans)
                        </a>


                        <div class="dropdown-menu text-left" aria-labelledby="navbarDropdown" data-boundary="overflow">
                            <!--  <a href="{{ relative_path('/baby') }}"><h5
                                        class="text-center mt-5 mb-5 title_drop reveal-1">ACCESSOIRES</h5>
                            </a>
                            -->
                            <div class="d-flex  flex-row p-2">
                                <img src="{{ asset('assets/img/VETEMENTS.webp') }}" alt=""
                                     class="vignette-dropdown img-fluid"/>
                                <div class="p-2 bd-highlight ml-5 col">

                                    <h5 class="categories-nav text-center ">VÊTEMENTS</h5>


                                    <a class="dropdown-item" href="{{ relative_path('/kids?enfant=hauts') }}">Hauts</a>
                                    <a class="dropdown-item" href="{{ relative_path('/kids?enfant=bas') }}">Bas</a>
                                    <a class="dropdown-item" href="{{ relative_path('/kids?enfant=robe') }}">Robe</a>
                                    <a class="dropdown-item" href="{{ relative_path('/kids?enfant=combinaison') }}">Combinaisons </a>
                                    <a class="dropdown-item" href="{{ relative_path('/kids?enfant=Bodies') }}">Bodies</a>
                                    <a class="dropdown-item" href="{{ relative_path('/kids?enfant=pyjama') }}">Pyjamas</a>
                                </div>
                                <img src="{{ asset('assets/img/ACCESSOIRES.webp') }}" alt=""
                                     class="vignette-dropdown img-fluid"/>
                                <div class="p-2 bd-highlight ml-5 col">

                                    <h5 class="categories-nav text-center">ACCESSOIRES</h5>

                                    <a class="dropdown-item"
                                       href="{{ relative_path('/kids?enfant=chapeaux') }}">Chapeaux</a>
                                    <a class="dropdown-item"
                                       href="{{ relative_path('/kids?enfant=bonnets') }}">Bonnets</a>
                                    <a class="dropdown-item"
                                       href="{{ relative_path('/kids?enfant=bandeaux') }}">Bandeaux</a>
                                </div>

                            </div>

                        </div>
                    </li>




                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown px-2 nav-down-text" href="" id="navbarDropdown"
                           role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            À la maison
                        </a>
                        <div class="dropdown-menu text-left" aria-labelledby="navbarDropdown">
                            <!--
                                    <a href="{{ relative_path('/House') }}"><h5
                                                class=" mt-5 mb-5 text-center title_drop reveal-1">À
                                            LA MAISON</h5></a>
                                            -->
                            <div class="d-flex  flex-row p-2">
                                <img src="{{ asset('assets/img/JOUETS.webp') }}" alt=""
                                     class="vignette-dropdown img-fluid"/>
                                <div class="p-2 bd-highlight col">

                                    <h5 class="categories-nav text-center">À TABLE !</h5>

                                    <a class="dropdown-item"
                                       href="{{ relative_path('/House?maison=bavoirs') }}">Bavoirs</a>
                                    <a class="dropdown-item"
                                       href="{{ relative_path('/House?maison=vaisselle') }}">Vaisselle</a>

                                </div>
                                <img src="{{ asset('assets/img/CHAUSSURES.webp') }}" alt=""
                                     class="vignette-dropdown img-fluid"/>
                                <div class="p-2 bd-highlight col">

                                    <h5 class="categories-nav text-center">LA CHAMBRE</h5>
                                    <a class="dropdown-item"
                                       href="{{ relative_path('/House?maison=veilleuse') }}">Veilleuse</a>
                                    <a class="dropdown-item"
                                       href="{{ relative_path('/House?maison=mobile') }}">Mobile
                                        musical</a>
                                </div>
                                <img src="{{ asset('assets/img/BAIN.webp') }}" alt=""
                                     class="vignette-dropdown img-fluid"/>
                                <div class="p-2 bd-highlight col">

                                    <h5 class="categories-nav text-center">LE BAIN</h5>
                                    <a class="dropdown-item" href="{{ relative_path('/House?House=cape') }}">Cape
                                        de bain</a>

                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-2 nav-down-text" href="{{ path('productsToy') }}">Les Jouets</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link new-collection p-2" href='{{ path('allproduct') }}'>NOUVELLE COLLECTION</a>
                    </li>
                 {#   <form id="search-formJS" class="form-inline d-flex justify-content-center md-form form-sm">
                        {{ render(controller(
                            'App\\Controller\\SearchController::SearchBar'
                        )) }}
#}{#                        <button type="submit"><i class="fas fa-search" aria-hidden="true"></i></button>#}{#
                    </form>#}
                </ul>

             {#   <form id="search-formJS" class="form-inline d-flex justify-content-center md-form form-sm">
                    <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Recherche"
                           aria-label="Search">
                    <i class="fas fa-search" aria-hidden="true"></i>
                </form>#}
                <div id="iconesJS">
                    {% if app.user %}
                        <div class="nav-icones pl-5 pt-sm-5 pt-md-5 text-sm-center text-md-center">

                            <li class="nav-item">
                                <a class="nav-link pr-2" href="{{ path('account') }}">
                                    <img class="icones-nav" src="{{ asset('assets/img/user.svg') }}">
                                    <p class="float-right">{{ app.user.firstname }}</p>
                                </a>
                                <a class="nav-link px-2" href="{{ path('cart') }}">
                                    <div class="bag-count">
                                        <img class="icones-nav" src="{{ asset('assets/img/bag.svg') }}">


                                        <div class="cercle-bag float-right text-center align-items-center">
                                            <p class="content-bag"></p>
                                        </div>

                                    </div>
                                </a>
                                <a class="nav-link px-2" href="">
                                    <img class="icones-nav" src="{{ asset('assets/img/heart.svg') }}">
                                </a>


                                <a class="nav-link px-2" href="{{ path('app_logout') }}">
                                    <img class="icones-nav" src="{{ asset('assets/img/logout.svg') }}">
                                </a>
                            </li>

                        </div>
                    {% else %}
                        <div class="nav-icones-down pl-0">
                            <li class="nav-item">
                                <a class="nav-link px-4 pl-0" href="{{ path('app_login') }}">
                                    <img class="icones-nav" src="{{ asset('assets/img/user.svg') }}">
                                </a>
                                <a href="" class="nav-link px-4 ">
                                    <img class="icones-nav" src="{{ asset('assets/img/heart.svg') }}">
                                </a>


                                <a href="{{ path('cart') }}" class="nav-link px-4">
                                    <img class="icones-nav" src="{{ asset('assets/img/bag.svg') }}">
                                </a>

                            </li>
                        </div>
                    {% endif %}
                </div>
                </ul>
            </div>

        </nav>


    </div>

    <!-- NAVBAR pour les PAGES qui sommes nous, FAQ etc sur mobile only-->
    <div class="simple-nav-mobile">
        <nav class="navbar navbar-expand-md navbar-light">
            <a class="navbar-brand" href="{{ path('home') }}">
                <img src="{{ asset('assets/img/Tiny x Pretty - OFFICIAL LOGO .webp') }}" alt="Logo Tiny And Pretty"
                     class="logo-img-header img-fluid"/>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">

                <ul class="navbar-nav  ml-auto ms-auto mr-auto mx-auto">
                    <li class="nav-item m-5">
                        <a class="nav-link shop mr-3" href="#">E-SHOP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-headOne mr-3" href="{{ path('qui_sommes_nous') }}">NOTRE MARQUE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-headOne mr-3" href="{{ path('comingsoon') }}">DEUXIÈME VIE</a>
                    </li>
                </ul>

              {#  <form id="search-formJS" class="form-inline d-flex justify-content-center md-form form-sm mt-5 mb-3">
                    <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Recherche"
                           aria-label="Search">
                    <i class="fas fa-search" aria-hidden="true"></i>
                </form>
#}
            {#    <form id="search-formJS" class=" form-inline d-flex justify-content-center text-center md-form form-sm">
                    {{ render(controller(
                        'App\\Controller\\SearchController::SearchBar'
                    )) }}

#}{#                 <button type="submit"><i class="fas fa-search" aria-hidden="true"></i></button>#}{#
                </form>#}
            </div>

        </nav>
    </div>


</header>


<!--
    <header>
    <nav class="navbar navbar-expand-md  navbar-light  justify-content-between">
        <a class="navbar-brand" href="{{ path('home') }}">
            <img src="{{ asset('assets/img/Tiny x Pretty - OFFICIAL LOGO .webp') }}" alt="Logo Tiny And Pretty"
                 class="logo-img-header img-fluid"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        -->

<!--
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto ms-auto  mt-2 mt-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link inactive dropdown px-3" href="" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        LA MODE
                    </a>
                    -->
<!--
                    <div class="dropdown-menu text-left" aria-labelledby="navbarDropdown" data-boundary="overflow">
                        <a href="{{ relative_path('/baby') }}"><h5 class="text-center mt-5 mb-5 title_drop reveal-1">LA MODE</h5>
                        </a>
                        <div class="d-flex  flex-row p-2">

                            <div class="p-2 bd-highlight ml-5">

                                <h5 class="categories-nav ">VÊTEMENTS</h5>


                                <a class="dropdown-item" href="{{ relative_path('/baby?mode=hauts') }}">Hauts</a>
                                <a class="dropdown-item" href="{{ relative_path('/baby?mode=bas') }}">Bas</a>
                                <a class="dropdown-item" href="{{ relative_path('/baby?mode=robe') }}">Robe</a>
                                <a class="dropdown-item" href="{{ relative_path('/baby?mode=combinaison') }}">Combinaisons </a>
                                <a class="dropdown-item" href="{{ relative_path('/baby?mode=Bodies') }}">Bodies</a>
                                <a class="dropdown-item" href="{{ relative_path('/baby?mode=pyjama') }}">Pyjamas</a>
                            </div>

                            <div class="p-2 bd-highlight ml-5">
                                <h5 class="categories-nav">ACCESSOIRES</h5>

                                <a class="dropdown-item" href="{{ relative_path('/baby?mode=chapeaux') }}">Chapeaux</a>
                                <a class="dropdown-item" href="{{ relative_path('/baby?mode=bonnets') }}">Bonnets</a>
                                <a class="dropdown-item" href="{{ relative_path('/baby?mode=bandeaux') }}">Bandeaux</a>
                            </div>


                        </div>
                    </div>
                    -->
<!--
                </li>
                <li>

                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown px-3" href="" id="navbarDropdown"
                               role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                À LA MAISON
                            </a>
                            <div class="dropdown-menu text-left" aria-labelledby="navbarDropdown">
                                <a href="{{ relative_path('/House') }}"><h5 class=" mt-5 mb-5 text-center title_drop reveal-1">À
                                        LA MAISON</h5></a>
                                <div class="d-flex  flex-row p-2">
                                    <div class="p-2 bd-highlight">
                                        <h5 class="categories-nav pl-3 ">À TABLE !</h5>

                                        <a class="dropdown-item" href="{{ relative_path('/House?House=bavoirs') }}">Bavoirs</a>
                                        <a class="dropdown-item" href="{{ relative_path('/House?fille=vaisselle') }}">Vaisselle</a>

                                    </div>

                                    <div class="p-2 bd-highlight">
                                        <h5 class="categories-nav pl-3">LA CHAMBRE</h5>
                                        <a class="dropdown-item" href="{{ relative_path('/House?House=veilleuse') }}">Veilleuse</a>
                                        <a class="dropdown-item" href="{{ relative_path('/House?House=mobile') }}">Mobile
                                            musical</a>
                                    </div>
                                    <div class="p-2 bd-highlight">
                                        <h5 class="categories-nav pl-3">LE BAIN</h5>
                                        <a class="dropdown-item" href="{{ relative_path('/House?House=cape') }}">Cape
                                            de bain</a>

                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>

                        <li class="nav-item">
                            <a class="nav-link px-3" href="{{ path('productsToy') }}">LES JOUETS</a>
                        </li>
                        {#
<li class="nav-item ">
    <a class="nav-link px-3" href="{{ path('deuxieme_vie') }}">DEUXIÈME VIE</a>
</li>
#}
                        <li>

                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown px-3" href="{{ path('concept') }}"
                                       id="navbarDropdown" role="button" data-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="false">CONCEPT</a>
                                    <ul class="dropdown-menu little-drop"
                                        aria-labelledby="dropdownMenuLink">
                                        <li><a class="dropdown-item" href="{{ path('ateliers') }}">Nos
                                                ateliers</a></li>
                                        <li><a class="dropdown-item"
                                               href="{{ path('partenaires') }}">Nos partenaires</a>
                                        </li>
                                    </ul>

                                </li>
                            </ul>
                        </li>
                        {#
<li class="nav-item">
    <a class="nav-link px-3" href="{{ path('tinyworld') }}">TINY
        WORLD</a>
</li>
#}





        {% if app.user %}
                            <div class="nav-icones">
                                <li class="nav-item">
                                    <a class="nav-link px-2" href="{{ path('account') }}">
                                        <img class="icones-nav" src="{{ asset('assets/img/user.svg') }}">
                                        <p class="float-right">{{ app.user.firstname }}</p>
                                    </a>
                                    <a class="nav-link px-2" href="{{ path('cart') }}">
                                        <div class="bag-count">
                                            <img class="icones-nav" src="{{ asset('assets/img/bag.svg') }}">


                                            <div class="cercle-bag float-right text-center align-items-center">
                                                <p class="content-bag"></p>
                                            </div>

                                        </div>
                                    </a>
                                    <a class="nav-link px-4" href="{{ path('wish') }}">
                                        <img class="icones-nav" src="{{ asset('assets/img/heart.svg') }}">
                                    </a>


                                    <a class="nav-link px-2" href="{{ path('app_logout') }}">
                                        <img class="icones-nav" src="{{ asset('assets/img/logout.svg') }}">
                                    </a>
                                </li>
                            </div>
                        {% else %}
                            <div class="nav-icones">
                                <li class="nav-item">
                                    <a class="nav-link px-2 pl-5" href="{{ path('app_login') }}">
                                        <img class="icones-nav" src="{{ asset('assets/img/user.svg') }}">
                                    </a>


                                    <a href="{{ path('cart') }}" class="nav-link px-4">
                                        <img class="icones-nav" src="{{ asset('assets/img/bag.svg') }}">
                                    </a>
                                </li>
                            </div>
                        {% endif %}


                        </li>
                    </ul>

                </li>

            </ul>
        </div>
    </nav>

</header>
        -->
