{% extends 'base.html.twig' %}

{% block title %}LA MARQUE{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col mt-5 mb-5 bg-champ">


                <img class="champ-desktop" src="{{ asset('assets/img/champ-banniere.webp') }}" alt=""/>
                <img class="champ-mobile" src="{{ asset('assets/img/champMobile.webp') }}" alt=""/>

                <div class="filter">
                </div>
                <div class="filter_text">
                    <h3 class="title-bg-champ">INTEMPOREL, DURABLE & RESPONSABLE</h3>
                    <p class="text-bg-champ">Nous avons à cœur de mettre en avant un savoir-faire local au travers
                        d’artisans passionnés afin de proposer des alternatives
                        plus responsables tout en soutenant une économie locale. En allant de la conception à la
                        sélection des matières premières et jusqu’à
                        la confection, nos créations sont entièrement fabriquées en Belgique et sont conçues pour se
                        transmettre et se réutiliser à l’infini.
                    </p>
                </div>

            </div>
        </div>
    </div>
    <div class="container pt-5 justify-content-center">
        <div class="row pt-5">

            <div class="img-concept col-lg-6 col-md-6 col-sm-12 text-right">
                <img class="img-fluid" src="{{ asset('assets/img/Bobine-de-fil-automne-concept-tiny.webp') }}" alt=""/>
            </div>
            <div class="contenu-concept  col-lg-6 col-md-6 col-sm-12 text-left">

                <h1 class="title-concept">
                    Notre Concept
                </h1>
                <div class="presentation-concept ">
                    <p>Tiny & Pretty est née d’une initiative de son fondateur
                        récemment devenu papa. Initialement actif dans le
                        secteur du commerce international, il a eu à cœur de
                        créer une marque responsable qui soutient l’économie
                        locale et de contribuer à un système de consommation
                        durable pour l’avenir de nos enfants.
                    </p>

                    <p>L’idée du projet est survenue suite à la problématique
                        de la surconsommation et à la migration des industries
                        textiles hors Europe. En outre, la crise sanitaire a
                        particulièrement touché les petits commerçants et
                        artisans qui n’avaient pas ou peu de potentiel de vente
                        en ligne. Grâce à notre projet, nous souhaitons
                        solutionner ces deux problématiques.
                    </p>

                    <p>Chez Tiny and Pretty, nous avons à cœur de mettre en
                        avant notre savoir-faire belge en choisissant de faire
                        appel à des passionnés des métiers du textile afin
                        qu’ensemble, nous puissions vous proposer une
                        alternative plus responsable tout en soutenant notre
                        économie locale.
                    </p>
                </div>
            </div>

        </div>
        <div class="row pt-5">

            <div class="contenu-concept col-lg-6 col-md-6 col-sm-12 text-left">

                <h1 class="title-concept">
                    Nos valeurs
                </h1>
                <div class="presentation-concept">
                    <p>Allant de la création à la sélection des matières
                        premières jusqu’à la confection, nos collections de
                        vêtements sont réalisées dans nos ateliers belges.
                    </p>

                    <p>Nous mettons un point d’honneur à travailler en circuit
                        court, à choisir des tissus de qualité et respectueux de
                        l’environnement, ainsi qu’à mettre en avant le savoir-
                        faire de nos couturier(e)s.
                    </p>

                    <p>Enfin, pour permettre à nos clients de centraliser leurs
                        achats mais aussi pour offrir plus de visibilité à de
                        talentueux créateurs, nous avons pensé le site comme
                        un espace collaboratif où vous trouverez des
                        accessoires sélectionnés par nos soins, en adéquation
                        avec les valeurs de notre pretty world.
                    </p>
                    <button type="button"  onclick="window.location.href='/concept'" class="btn btn-primary text-white mb-5">EN SAVOIR PLUS</button>
                </div>
            </div>
            <div class="img-concept col-lg-6 col-md-6 col-sm-12 text-left">
                <img class="img-fluid" src="{{ asset('assets/img/ciseaux-et-fil-dans-panier-nos-valeurs.webp') }}"
                     alt=""/>
            </div>
        </div>
        <div class="row pt-5">
            <div class="img-concept  col-lg-6 col-md-6 col-sm-12 text-right">
                <img class="img-fluid" src="{{ asset('assets/img/main-de-couturier-aiguille-et-fil-cousu-main.webp') }}"
                     alt=""/>
            </div>
            <div class="contenu-concept  col-lg-6 col-md-6 col-sm-12 text-left">

                <h1 class="title-concept">
                    Nos ateliers
                </h1>
                <div class="presentation-concept">
                    <p>Alors que la majorité des marques de puériculture
                        délocalisent, notre marque s’engage à réduire son
                        empreinte carbone et à soutenir l’économie locale.
                    </p>

                    <p>Tiny & Pretty, c’est avant tout une grande famille, qui
                        place l’humain au centre de ses choix. Il nous tient donc
                        à cœur de partager avec vous les histoires de celles et
                        ceux qui, avec leurs doigts de fées, confectionnent nos
                        produits..
                    </p>

                    <p>La fabrication artisanale est une étape essentielle pour
                        garantir une qualité supérieure. Toutes nos pièces sont
                        imaginées puis fabriquées en Belgique par une
                        couturière unique, et possèdent ainsi leur propre
                        histoire.
                    </p>
                    <button type="button"  onclick="window.location.href='/ateliers'" class="btn btn-primary text-white mb-5">VISITEZ NOS ATELIERS</button>
                </div>
            </div>

        </div>
        <div class="row pt-5">

            <div class="contenu-concept  col-lg-6 col-md-6 col-sm-12 text-left">

                <h1 class="title-concept">
                    Nos partenaires
                </h1>
                <div class="presentation-concept">
                    <p>Pour proposer toujours plus de choix à nos clients,
                        nous allons à la rencontre d’artisans et de personnalités inspirantes qui œuvrent pour un monde
                        plus durable et respectueux.
                    </p>

                    <p>Ils ont été sélectionnés avec soin pour la qualité de
                        leurs produits, leur engagement social ou leur
                        démarche écologique. Nous souhaitons ici mettre en
                        avant leurs univers ainsi que leur savoir-faire.
                    </p>
                    <button type="button"  onclick="window.location.href='/partenaires'" class="btn btn-primary text-white mb-5">RENCONTREZ NOS PARTENAIRES</button>
                </div>
            </div>
            <div class="img-concept col-lg-6 col-md-6 col-sm-12 text-left">
                <img class="img-fluid" src="{{ asset('assets/img/bobines-de-fil-partenaires.webp') }}" alt=""/>

            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col mt-5 mb-5 bg-champ">


                <img class="champ-desktop" src="{{ asset('assets/img/lin-bio-coton-gros-plan-trame-tissu.webp') }}" alt=""/>
                <img class="champ-mobile" src="{{ asset('assets/img/lin-bio-coton-gros-plan-trame-tissu-mobile.webp') }}" alt=""/>
                <div class="filter_text">

                    <p class="text-bg-champ">Tiny & Pretty confectionne à la commande des articles de haute qualité au design intemporel,
                        tout en respectant l'environnement. Nos pièces sont produites de manière artisanale en utilisant des tissus naturels, certifiés OEKO-tex et provenant de fournisseurs européens à taille humaine.

                    </p>
                    <button type="button" class="btn-shop btn-outline-secondary text-white mt-lg-5 mt-md-3 mt-sm-1">DÉCOUVRIR L'E-SHOP</button>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
